<div class="show-container">
  <div class="todo">
<%= form_with model: @todo, local: true do |f| %>
  <p>Title: <%= f.text_area :title %></p>
  <p>Description: <%= f.text_area :body %> </p>
  <p>Completed <%= f.check_box :completed, {}, true, false %></p>
<% end %>
</div>
</div>