.button-container {
  display: flex; 
  align-items: center;
  justify-content: center;
}

@mixin button {
  display: flex;
  justify-content: center;
  border: 2px solid pink;
  width: 100px;
  padding: 10px;
}

.login-button {
  @include button;
}

.signin-button {
  @include button;
  } 

  .signin-button a { 
    text-decoration: none;
    font-size: 16px; 

  }

.login-button a {
  text-decoration: none;
  font-size: 16px; 

  }

  .signin-button a:hover { 
    text-decoration: none;
    

  }

.login-button a:hover {
  text-decoration: none;

  }