.button-container {
  display: flex; 
  align-items: center;
  justify-content: center;
}

@mixin button {
  display: flex;
  justify-content: center;
  border: 2px solid pink;
  width: 100px;
  padding: 10px;
}

.login-button {
  @include button;
}

.signin-button {
  @include button;
  } 

@mixin link-text {
    text-decoration: none;
    font-size: 16px; 
    color: lightpink;

  }
  .signin-button a { 
    @include link-text
  }
  
  .login-button a {
    @include link-text
  }

  @mixin hoverbutton {
    background-color: lightslategrey;
    color: deeppink;
    text-decoration: none;
  }

  .signin-button:hover { 
    @include hoverbutton
  }

.login-button:hover {
  @include hoverbutton
  }

// .submit {
//   @include link-text
//   @include button 
//   text-align: center;
// }